/* Add application styles & imports to this file! */
h1{
position: absolute;
width: 256px;
height: 24px;
left: 674px;
top: 44px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

}
.bb{
  position: absolute;
width: 869px;
height: 34px;
left: 369px;
top: 80px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #4A4A4A;

}
.convert{
  position: absolute;
width: 173px;
height: 20px;
left: 499px;
top: 160px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* HippoPDF_4C3986 */

color: #4C3986;

}
.request{
  position: absolute;
width: 135px;
height: 20px;
left: 951px;
top: 160px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Deactivated/ACABB1 */

color: #ACABB1;
}
.rect{

position: absolute;
width: 869px;
height: 400px;
left: 365px;
top: 246px;

background: #E8F2F7;
border-radius: 8px;

}
.con{
  position: absolute;
width: 435px;
height: 0px;
left: 365px;
top: 192px;

border: 1px solid #4C3986;
}
.req{
  position: absolute;
width: 434px;
height: 0px;
left: 800px;
top: 192px;

border: 1px solid #BDDAE9;
}
.lock{
  position: absolute;
width: 16px;
height: 16px;
left: 923px;
top: 173px;

}
.upload{
  position: absolute;
width: 150px;
height: 48px;
left: 365px;
top: 246px;

background: #4C3986;
border-radius: 8px 0px;
}
.upl{
  position: absolute;
width: 70px;
height: 17px;
left: 405px;
top: 248px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;

}